.technologiesWrapper {
  margin: 180px auto 0 auto;

  h2 {
    max-width: 545px;
    margin: 0 auto;
    text-align: center;
  }

  p {
    max-width: 432px;
    margin: 16px auto 54px auto;
    text-align: center;
  }

  .technologies {
    display: flex;
    gap: 25px;
  }
}