.technologiesWrapper {
  margin: 180px auto 0 auto;
  position: relative;
  z-index: 1;

  h2 {
    max-width: 545px;
    margin: 0 auto;
    text-align: center;
    font-size: 7.9vw;
  }

  p {
    max-width: 432px;
    margin: 16px auto 54px auto;
    text-align: center;
  }

  .technologies {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
  }

  @media screen and (max-width: 1120px) {

    h2 {
      font-size: 40px;
    }

    .technologies {
      justify-content: center;
    }
  }
}