.star {
  background-image: url("../../assets/images/effects/star.svg");
  transform: rotate(170deg);
  position: absolute;
  z-index: -1;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.starShadow {
  @extend .star;
  transform: scale(2, 2) rotate(170deg);
  z-index: 0;
  background-image: url("../../assets/images/effects/star_shadow.svg");
}
