@import "src/styles/mixins";

.mentorCardWrapper {
  width: 188px;

  .name {
    margin-top: 16px;
    margin-bottom: 4px;

    .mentorName {
      @include headingH4();
    }
  }

  .mentorDescription {
    font-size: 14px;
  }
}