.aboutUsWrapper {
  margin: 189px auto 0 auto;
  position: relative;
  z-index: 1;

  h2 {
    text-align: center;
    font-size: 7.9vw;
  }

  .content {
    margin-top: 56px;
    display: flex;
    flex-wrap: wrap;

    .mentors {
      position: relative;

      h3 {
        text-align: center;
        margin-bottom: 168px;
      }

      .mentorCards {
        display: flex;
        flex-wrap: wrap;
        gap: 23px;

        .arrowTrident {
          width: 396px;
          position: absolute;
          top: 50px;
          left: 50%;
          transform: translateX(-50%);
        }

        .mentorCard:nth-child(3) {
          margin-top: -51px;
        }

        .wadeWarrenImage {
          background-position-x: 18% !important;
          background-size: 145% !important;
        }

        .robertFoxImage {
          background-position-y: 0 !important;
          background-size: 127% !important;
        }

      }
    }

    .descriptions {
      max-width: 486px;
      margin-top: 109px;
      margin-left: 24px;
    }
  }

  .frontEffect {
    position: absolute;
    left: 70%;
    top: 420px;
  }

  @media screen and (max-width: 1120px) {
    width: 80vw;

    h2 {
      font-size: 40px;
    }

    .content {
      justify-content: center;

      .mentors {
        position: relative;

        h3 {
          text-align: center;
          margin-bottom: 68px;
          text-align: center;
        }

        .mentorCards {
          justify-content: center;
          gap: 48px;

          .arrowTrident {
            display: none;
          }

          .mentorCard:nth-child(3) {
            margin-top: 0;
          }
        }
      }

      .descriptions {
        margin-top: 68px;
        margin-left: 0;
      }
    }
  }
}