$mainFontFamily: 'Clash Display', sans-serif;
$secondaryFontFamily: 'Inter', sans-serif;
$gradientMain: linear-gradient(152.14deg, rgba(21, 191, 253, 0.7) 9.96%, rgba(156, 55, 253, 0.7) 100%);
$gradientMainTechnology: linear-gradient(317deg, rgba(21, 191, 253, 0.7) 9.96%, rgba(156, 55, 253, 0.7) 100%);
$gradientButton: linear-gradient(180deg, #1FF2FF 0%, #27F9E5 52.66%, #2FFFCD 100%);
$revertGradientButton: linear-gradient(180deg, #2FFFCD 0%, #27F9E5 52.66%,  #1FF2FF 100%);
$gradientStep: linear-gradient(90deg, rgba(21, 191, 253, 0) 8.03%, rgba(21, 191, 253, 0.7) 69.15%, rgba(156, 55, 253, 0.7) 97.95%);
$primary80: #3B48D0;
$primary100: #0A1482;
$errorColor: #FD4646;
$borderColor: #636363;
$mainTextColor: #ffffff;
$secondaryTextColor: #A2CBFB;
$mainBackgroundColor :#0C102D;
$blockBackgroundColor: rgba(255, 255, 255, 0.05);
$blockBackgroundColorHover: rgba(255, 255, 255, 0.1);
$errorBackgroundColor: rgba(255, 165, 165, 0.2);;
