@import "../../../styles/mixins";
@import "../../../styles/variables";

.cardWrapper {
  height: auto;
  width: 491px;
  display: flex;
  align-items: center;
  position: relative;
  margin: 18.5px 0;

  &::before {
    position: absolute;
    content: '';
    width: 146px;
    height: calc(100% + 37px);
    right: 0;
    background: $gradientStep;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  &::after {
    position: absolute;
    content: '';
    width: 134px;
    height: calc(100% + 24px);
    right: 6px;
    background: $mainBackgroundColor;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
  }

  &.sideFrameLeft {
    justify-content: end;

    &::before {
      transform: scale(-1, 1);
      left: 0;
    }

    &::after {
      transform: scale(-1, 1);
      left: 6px;
    }
  }

  .border {
    width: calc(100% - 16px);
    background: $gradientMain;
    border-radius: 8px;
    position: relative;
    z-index: 1;

    &::before {
      content: '';
      position: absolute;
      width: calc(100% - 2px);
      height: calc(100% - 2px);
      top: 1px;
      left: 1px;
      border-radius: 8px;
      background-color: $mainBackgroundColor;
      z-index: -1;
    }

    .content {
      padding: 24px;
      border-radius: 8px;
      background-color: $blockBackgroundColor;

      .stepTitle {
        margin: 16px 0;
      }

      .stepDescription {
        color: $secondaryTextColor;
        max-width: 408px;
      }
    }
  }

  @media screen and (max-width: 1214px) {
    width: auto;
    max-width: 491px;
    flex-direction: row-reverse;

    &::before {
      transform: scale(-1, 1);
      left: 0;
    }

    &::after {
      transform: scale(-1, 1);
      left: 6px;
    }
  }
}