@import "src/styles/variables";

.stepWrapper {
  display: flex;

  .stepCard {
    position: relative;
  }

  .arrow {
    width: 76px;
    margin-left: 24px;
    margin-right: 4px;
    transform: translateY(calc(50% - 3px));

    &.even {
      margin-left: 4px;
      margin-right: 24px;
    }
  }

  .stepBlock {
    width: 24px;
    transform: translateY(calc(50% - 12px));
    position: relative;

    .aggregate {
      position: absolute;
      height: calc(50% - 12px);
      width: 3px;
      bottom: 100%;
      left:11px;
      background: $revertGradientButton;

      &.first {
        background: $mainBackgroundColor;
      }
    }

    .stepPoint {
      width: 24px;
      height: 24px;
      border-radius: 50%;
      background-color: $primary80;
    }

    .connector {
      width: 4px;
      height: 100%;
      background: $gradientButton;
      text-align: center;
      margin: 0 auto;
      transform: translateY(calc(-50% - 12px));
      position: relative;
      z-index: -1;
    }
  }

  .empty {
    width: 595px;
  }

  &.even {
    flex-direction: row-reverse;
  }
}


