@import "src/styles/variables";

.headerWrapper {
  padding: 40px 0;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  width: 70vw;
  justify-content: space-between;
  gap: 48px;

  .logo {
    min-width: 169px;
  }

  .navigateBlock {
    display: flex;
    align-items: center;
    gap: 48px;
    white-space: nowrap;

    a {
      position: relative;
      z-index: 1;
      color: $mainTextColor;
      text-decoration: none;
      transition: color .3s ease-in-out;

      &:hover {
        color: $secondaryTextColor;
        transition: color .3s ease-in-out;
      }
    }
  }

  @media screen and (max-width: 1055px) {
    width: 90vw;
    justify-content: center;

    .navigateBlock {
      gap: 20px;
      flex-wrap: wrap;

      a {
        font-size: 14px;
      }
    }
  }

  @media screen and (max-width: 650px) {
    row-gap: 24px;
  }
}