@import "src/styles/mixins";

.cardWrapper {
  position: relative;
  width: 181px;
  height: 230px;

  .innerCard {
    position: absolute;
    top: 24px;
    left: 10px;

    .technologyLogo {
      width: 162px;
      height: 136px;
    }

    .technologyTitle {
      @include headingH4;
      text-align: center;
      margin-top: 16px;
    }
  }
}

