.someTitle {
  font-weight: 500;
  font-size: 24px;
}
.wadeWarrenImage {
  background-position-x: 18% !important;
  background-size: 145% !important;
}
.robertFoxImage {
  background-position-y: 0 !important;
  background-size: 127% !important;
}