.asksWrapper {
  margin: 180px auto 0 auto;
  position: relative;
  z-index: 1;

  h2 {
    max-width: 641px;
    margin: 0 auto 56px auto;
    text-align: center;
  }

  .asksContent {
    position: relative;
    display: flex;
    gap: 24px;
    min-height: 511px;

    .question {
      width: 496px;
      min-height: 511px;

      .askMark {
        position: absolute;
        top: -890px;
        left: -350px;
      }
    }

    .accordions {
      .accordionBlock {
        margin-bottom: 24px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  @media screen and (max-width: 1225px) {
    width: 90vw;

    h2 {
      font-size: 40px;
    }

    .asksContent {
      flex-wrap: wrap;
      justify-content: center;

      .question {
        text-align: center;

        .askMark {
          position: relative;
          margin-bottom: -1850px;
        }
      }
  }
  }
}