.sliderWrapper {
  width: 814px;

  .controlBlock {
    display: flex;
    margin-bottom: 16px;

    .btnBlock {
      display: flex;
      gap: 24px;
      margin-left: auto;

    }

    .whatNumber {
      display: flex;
      gap: 7px;
    }
  }

  .imagesBlock {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    flex-wrap: wrap;
  }

  @media screen and (max-width: 1230px) {
    display: flex;
    flex-direction: column;

  }

  @media screen and (max-width: 905px) {
    align-items: center;
    .controlBlock {
      width: 394px;

      @media screen and (max-width: 375px) {
        width: 350px;
      }
    }

    .imagesBlock {
      flex-direction: column;
      align-items: center;

      @media screen and (max-width: 375px) {
        max-width: 350px;
      }
    }
  }
}